<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dispatcher</title>
<script src="{{ asset('res/lib/jquery.js') }}"></script>
<script src="{{ asset('res/lib/leaflet/leaflet.js') }}"></script>
<script src="{{ asset('res/lib/leaflet/leaflet.label.js') }}"></script>
<script src="{{ asset('res/lib/fill.js') }}"></script>

<link rel="stylesheet" href="{{ asset('res/dispatcher/main.css') }}">

<link rel="stylesheet" href="{{ asset('res/dispatcher/dispatcher.css') }}">
<script src="{{ asset('res/dispatcher/dispatcher.js') }}"></script>

<link rel="stylesheet" href="{{ asset('res/lib/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('res/lib/bootstrap/css/bootstrap-theme.min.css') }}">
<script src="{{ asset('res/lib/bootstrap/js/bootstrap.min.js') }}"></script>


<link rel="stylesheet" href="{{ asset('res/lib/jquery-ui/jquery-ui.min.js') }}">
<link rel="stylesheet" href="{{ asset('res/lib/jquery-ui/jquery-ui.min.css') }}">

</head>
<body>

<div id="app-container"></div>

</body>
</html>
